<tr data-id="{id}">
    <td class="numero">{numero}</td>
    <td class="nombre">{nombre}</td>
    <td class="correo">{correo}</td>
    <td class="telefono">{telefono}</td>
    <td class="actividades">
        <a href="actividadesporusuario.php?idlogin={id}">Seleccionar </a>
    </td>
    <!--<td class="actioncolumn" style="width:100px;">-->
        <!--<button data-id="{id}" data-nombre="{nombre}" type="button" class="printactividadbtn btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></button>-->
    <!--</td>-->
</tr>   