<div class="modal fade" id="editusermodal" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                 <button type="button" class="close canceledit" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                 <h4>Editar la cuenta de {admin_nombre}</h4>
            </div>
            <div class="modal-body">
                <div class="well">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" id="editadmin_nombre">
                                <label class="control-label">Nombre y apellido</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                    <input name="editadmin_nombre" type="text" class="form-control" value="{admin_nombre}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">E-mail</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                                    <input name="editadmin_email" type="email" class="form-control" readonly value="{admin_email}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" id="editadmin_rol">
                                <label class="control-label">Rol</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                    <select name="editadmin_rol" class="form-control" value="{admin_rol}">
                                        <option value="admin">admin</option>
                                        <option value="finanzas">finanzas</option>
                                        <option value="operaciones">operaciones</option>
                                        <option value="academica">academica</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" id="editadmin_pass">
                                <label class="control-label">Contraseña</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                    <input name="editadmin_pass" type="password" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" id="editadmin_pass2">
                                <label class="control-label">Repetir contraseña</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                    <input name="editadmin_pass2" type="password" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="text-align: right">
                        <button id="saveedited" type="button" class="btn btn-primary" data-id="{admin_id}"><span class="glyphicon glyphicon-floppy-disk"></span> Guardar</button>
                        <button type="button" class="btn btn-danger canceledit">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>