<div class="modal fade" id="admindeletemodal" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog">
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4>Eliminar cuenta de {admin_nombre}</h4>
            <p>¿Estás seguro que deseas eliminar esta cuenta? Si presionás 'Eliminar', el usuario de esta cuenta ya no podrá iniciar sesión.</p>
            <p>
                <button id="doadmindelete" type="button" class="btn btn-danger" data-id="{admin_id}" data-dismiss="modal">Eliminar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </p>
        </div>
    </div>
</div>