<tr data-id="{id}" >
    <td class="pilar_nombre">{pilar_nombre}</td>
    <td class="codigo">{codigo}</td>
    <td class="fecha">{fecha}</td>_nombre
    <td class="titulo">{titulo}</td>
    <td class="conferencista">{conferencista}</td>
    <td class="nacionalidad">{nacionalidad}</td>
    <td class="enfoque">{enfoque}</td>
    <td class="actioncolumn" style="width:100px;">
        <button data-id="{id}" type="button" class="editcursobtn btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></button>
        <button data-id="{id}" type="button" class="deletecursonbtn btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button>
    </td>
</tr>   