<tr data-id="{id}" >
    <td class="pilar">{pilar}</td>
    <td class="fecha">{fecha}</td>
    <td class="salon">{salon}</td>
    <td class="cupo">{cupo}</td>
    <td class="inscriptos" style="text-align: center; width:25px;"><a href="cursousuarios.php?id={id}&pilar={pilar}&fecha={fecha}">{inscriptos}</a></td>
    <td class="actioncolumn" style="width:100px;">
        <button data-id="{id}" type="button" class="editpilarbtn btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></button>
        <button data-id="{id}" type="button" class="deletepilarbtn btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button>
    </td>
</tr>   