<tr data-id="{id}" >
    <td class="lugar">{lugar}</td>
    <td class="fecha">{fecha}</td>
    <td class="direccion">{direccion}</td>
    <td class="contacto">{contacto}</td>
    <td class="telefono">{telefono}</td>
    <td class="cupo">{cupo}</td>
    <td class="inscriptos" style="text-align: center; width:25px;"><a href="visitausuarios.php?id={id}&lugar={lugar}&fecha={fecha}">{inscriptos}</a></td>
    <td class="actioncolumn" style="width:100px;">
        <button data-id="{id}" type="button" class="editvisitabtn btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></button>
        <button data-id="{id}" type="button" class="deletevisitabtn btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button>
    </td>
</tr>   