<div class="modal fade" id="admindeletemodal" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog">
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4>Eliminar usuario en esta visita</h4>
            <p>¿Estás seguro que deseas eliminar este usuario de esta visita?</p>
            <p>
                <button id="dovisitausuariodelete" type="button" class="btn btn-danger" data-id="{id}" data-dismiss="modal">Eliminar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </p>
        </div>
    </div>
</div>